<span>{{ title }} app is running!</span>
<button (click)="counter('add')">Count ++ : {{ count }}</button>
<br /><br />
<br /><br />

property binding
<br /><br />
"property binding work with boolean"
<input
  type="text"
  name="user-name"
  value="{{ name }}"
  disabled="{{ disable }}"
/>
// not disabled as expected <br /><br />
<input type="text" name="user-name" [value]="name" [disabled]="disable" /> //
disabled as expected

<br /><br />
<br /><br />

ngIf practice
<div *ngIf="isLoggedIn; else loggedOut">
  <p>Welcome back, {{ name }}!</p>
</div>
<!-- if isLoggedIn is false than ng-template will work -->
<ng-template #loggedOut>
  <p>Please log in.</p>
</ng-template>

<br /><br />
<br /><br />

ngIf...else if practice
<div *ngIf="isLoggedIn; else loggedOut">
  <p>Welcome back, {{ name }}!</p>
</div>

<ng-template [ngIf]="!isLoggedIn && isGuest">
  <p>Welcome, guest! Please log in for more features.</p>
</ng-template>

<br /><br />
<br /><br />

ngSwitch practice
<div [ngSwitch]="userRole">
  <p *ngSwitchCase="'admin'">Welcome, Admin! You have full access.</p>
  <p *ngSwitchCase="'user'">Welcome, User! You have limited access.</p>
  <p *ngSwitchCase="'guest'">
    Welcome, Guest! Please log in for more features.
  </p>
  <p *ngSwitchDefault>Role not recognized. Please contact support.</p>
</div>

<br /><br />
<br /><br />

for loop iteration example
<ul>
  <li *ngFor="let item of items; let i = index">{{ i + 1 }}. {{ item }}</li>
</ul>

<br /><br />
<br /><br />

2D array example
<table border="1">
  <tr *ngFor="let row of matrix">
    <td *ngFor="let cell of row">
      {{ cell }}
    </td>
  </tr>
</table>

<br /><br />
<br /><br />

Angular Form Example
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" ngModel />
  <br /><br />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" ngModel />
  <br /><br />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" ngModel />
  <br /><br />

  <button type="submit">Submit</button>
</form>

<div *ngIf="submitted">
  <h3>Form Submitted</h3>
  <p>Username: {{ userForm.value.username }}</p>
  <p>Email: {{ userForm.value.email }}</p>
  <p>Password: {{ userForm.value.password }}</p>
</div>

<br /><br />



Child Component
<!-- <app-login [item]="data"></app-login> -->
<app-login (updateDataEvent)="updateData($event)" [item]="data"></app-login>


<br>
<br>
<br>
Two Way binding Meaning is
<br>
<p>The [(ngModel)]="name" directive binds the input element to the name property in the component class.<br>
  When the user types into the input field, the name property is updated.<br>
  The paragraph element displays the updated name property in real-time.</p><br>

<input type="text" [(ngModel)]="name">
<h4>{{name}}</h4>

<br /><br />

Template Reference Variable Example
<br /><br />
<input #myInput type="text" placeholder="Enter something" />
<button (click)="logValue(myInput.value)">Log Input Value</button>

<br /><br />
<br /><br />


Reactive Forms 

<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="Enter Name" name="user" formControlName="user"/>
  <br>
    <span style="color:red;" *ngIf=" userValidation && userValidation.invalid && userValidation.touched">this field is not Valid</span>
  <br>
  <input type="password" placeholder="Enter Password" name="password" formControlName="password"/>
  <br>
  <span style="color:red;" *ngIf=" passwordValidation && passwordValidation.invalid && passwordValidation.touched">this field is not Valid</span>
  <br>
  <button [disabled]="loginForm.invalid">Login</button>
</form>

<br /><br />
<br /><br />

<h1> example of directive</h1>
<h2 appRefEl> here redElement directive is applied </h2>

<br /><br />
<br /><br />

<h1>Routing</h1>
<br>
/router1
<br>
/router2
<br>
/router3
<br>
<br>
<a routerLink="router1">Router1</a>
<br>
<a routerLink="router2">Router2</a>
<br>
<a routerLink="router3">Router3</a>
<br>
<br>
because of router-outlet now we can navigate between child components
<br>


<router-outlet></router-outlet>

<br>
<br>

