/* You can add global styles to this file, and also import other style files */
p {
    font-size: 16px;
    color: #e71010;
    line-height: 1.5;
    margin: 10px 0;
}

/* styles.css */
.highlight {
    background-color: yellow;
  }
  .bold-text {
    font-weight: bold;
  }
  